body{
	max-width: 100%;
}
.c-hamburger{
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 30;
	width: 80px;
	height: 80px;
	overflow: hidden;
	background: #34547A;
	box-shadow: none;
	border: none;
	&:focus{
		outline: none;
	}
	span{
		display: block;
		position: absolute;
		top: 40px;
		left: 15px;
		right: 15px;
		height: 8px;
		background: #EEEFF1;
		&:before{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 8px;
			background: #EEEFF1;
			content: "";
			top: -20px;	
		}
		&:after{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 8px;
			background: #EEEFF1;
			content: "";
			top: 20px;
		}
	}
}
.c-hamburger-line{
		background: $bg-blue;
	span{
		transition: background 0s 0.3s;
	}
}
.c-hamburger-line{
	span:before{
		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;	
		transition-property: top, transform;
	}
	span:after{
		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;
		transition-property: bottom, transform;	
	}
}
.c-hamburger-line{
	&.is-active{
		background: #8FBC8F;
		span{
			background: none;
			&:before{
				top: 0;
				transform: rotate(-45deg);
				transition-delay: 0s, 0.3s;
			}
			&:after{

				top: 0;
				transform: rotate(45deg);
				transition-delay: 0s, 0.3s;
			}
		}
	}
}
.burger-menu_nav{
	display: none;
    position: fixed;
    top: 0px;
    padding-top: 10px;
    z-index: 10;
    width: 100%;
    background: #fff;
    padding-left: 15px;
	ul{
		text-decoration:none;
	}
	li{
		padding-bottom: 5px;
	}
	.burger-menu_link{
		font-family: $roboto-r;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		display: block;
		&:hover{
			color: $bg-blue;
			transition: 2s;
		}
	}
}
.head-top{
	background: #EEEFF1;
	background-size: cover;
	font-family: $roboto-r;
}
.content-center{
	display: flex;
	padding-top: 79px;
}
.technology-1-block{
	background: #EEEFF1;
}
.frame-img{
	width: 350px;
	height: 220px;
}
.technology{
	margin-top: 168px;
	display: flex;
	text-align: center;
	background: #EEEFF1;
	.descrip{
		text-align: center;
		color: #000000;
		font-size: 45px;
	}
	.text-after-descrip{
		color: #727272;
		padding-top: 50px;
		font-size: 16px;
		line-height: 26px;
	}	
}
.buttom-write{
	background: #34547A;
	font-family: $roboto-r;
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	margin: 60px 0 146px 0;
	a{
		text-decoration: none;
		color: #FFFFFF;
	}
}
.about-me{
	text-align: center;
	h2{
		color: #000000;
		padding: 120px 0 50px;
		font-family: $roboto-r;
	}
	p{
		color: #727272;
		line-height: 26px;
		font-family: $roboto-r;
		padding-bottom: 100px;
	}
}
.block-blue{
	background: $bg-blue;
	color: #FFFFFF;
	padding: 100px 0 100px;
}
.project{
	display: flex;
}
.number{
	font-weight: 500;
}
.b{
	padding-left: 20px;
}
.skills{
	h2{
		padding: 200px 0 30px;
	}
	.name-skills{
		padding: 20px 0 20px;
	}	
	.scale{
		background: #C4C4C4;
		max-width: 445px;
		height: 4px;
	}
	.scale-blue{
		background: #34547A;
		height: 4px;
		width: 70%;
		position: absolute;
	}
}
.img-skills{
	padding: 100px 0 100px;
}
.video{
	text-align: center;
	background: #EEEFF1;
	h2{
		padding: 100px 0 50px;
		color: #000000;
		font-family: $roboto-r;
	}
	p{
		color: #727272;
		font-family: $roboto-r;
	}
	iframe{
		max-width: 100%;
	}
}
.video-vig{
	margin: 57px 0 100px;
}
.pictures{
	margin-top: 10px;
	.col-lg-3{
		padding: 0;
	}
}
.hover-blue{
	position: relative;
	&:before{
		position: absolute;
		display: none;
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
	}
	&:after{
		display: none;
		content: "";
		background: url(../img/eye.svg);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		width: 100px;
		height: 57px;
		position: absolute;
	}
	&:hover{
		&:before{
			display: block;
		}
		&:after{
			display: block;
		}
	}	
}
.img-microsoft{
	margin: 72px 0 100px;
	img{
		padding-right: 15px;
	}
}
.contact-form{
	background: #EEEFF1;
	text-align: center;
	font-family: $roboto-r;
	h2{
		padding-top: 100px;
	}
	p{
		color: #727272;
		padding-top: 50px;
	}
}
.forma{
	padding-top: 65px;
	display: inline-block;
	background-size: cover;
	input{
		font-family: $roboto-r;
		color: #4F4F4F;
		width: 255px;
		height: 50px;
		outline: none;
		background: #FFF;
		border: none;
		padding-left:20px;
		margin-top: 30px;
		margin-right: 20px;
	}
}
.textarea{
	font-family: $roboto-r;
	width: 540px;
	height: 150px;
	outline: none;
	background: #fff;
	border: none;
	padding: 20px 0 0 16px;
	margin-top: 30px;
	display: block;
}

