body{
	img{
		max-width: 100%
	}
}
.head-top{
	background: $bg-gray;
	background-size: cover;
}
.content-center{
	display: flex;
	padding-top: 79px;
}
header{

	.logo{
		width: 96px;
		height: 60px;
	}
	.navigation{
		ul{
			width: 100%;
		}
		li{
			list-style-type: none;
			display: inline;
		}
		a{
		    text-transform: uppercase;
		    color: #000000;		    
		    text-decoration: none;
			font-size: 16px;
			&:hover{
				color: #34547A;
			}
		}
	}
}