body img {
  max-width: 100%; }

.head-top {
  background: #EEEFF1;
  background-size: cover; }

.content-center {
  display: flex;
  padding-top: 79px; }

header .logo {
  width: 96px;
  height: 60px; }
header .navigation ul {
  width: 100%; }
header .navigation li {
  list-style-type: none;
  display: inline; }
header .navigation a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 16px; }
  header .navigation a:hover {
    color: #34547A; }

.footer-blue {
  background: #34547A;
  color: #fff;
  font-family: "Roboto", sans-serif; }

.text-signature {
  margin: 50px 0 50px; }

.social-networks {
  margin: 64px 0 63px; }
  .social-networks li {
    padding-left: 20px; }

body {
  max-width: 100%; }

.c-hamburger {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: #34547A;
  box-shadow: none;
  border: none; }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 40px;
    left: 15px;
    right: 15px;
    height: 8px;
    background: #EEEFF1; }
    .c-hamburger span:before {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 8px;
      background: #EEEFF1;
      content: "";
      top: -20px; }
    .c-hamburger span:after {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 8px;
      background: #EEEFF1;
      content: "";
      top: 20px; }

.c-hamburger-line {
  background: #34547A; }
  .c-hamburger-line span {
    transition: background 0s 0.3s; }

.c-hamburger-line span:before {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-property: top, transform; }
.c-hamburger-line span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-property: bottom, transform; }

.c-hamburger-line.is-active {
  background: #8FBC8F; }
  .c-hamburger-line.is-active span {
    background: none; }
    .c-hamburger-line.is-active span:before {
      top: 0;
      transform: rotate(-45deg);
      transition-delay: 0s, 0.3s; }
    .c-hamburger-line.is-active span:after {
      top: 0;
      transform: rotate(45deg);
      transition-delay: 0s, 0.3s; }

.burger-menu_nav {
  display: none;
  position: fixed;
  top: 0px;
  padding-top: 10px;
  z-index: 10;
  width: 100%;
  background: #fff;
  padding-left: 15px; }
  .burger-menu_nav ul {
    text-decoration: none; }
  .burger-menu_nav li {
    padding-bottom: 5px; }
  .burger-menu_nav .burger-menu_link {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block; }
    .burger-menu_nav .burger-menu_link:hover {
      color: #34547A;
      transition: 2s; }

.head-top {
  background: #EEEFF1;
  background-size: cover;
  font-family: "Roboto", sans-serif; }

.content-center {
  display: flex;
  padding-top: 79px; }

.technology-1-block {
  background: #EEEFF1; }

.frame-img {
  width: 350px;
  height: 220px; }

.technology {
  margin-top: 168px;
  display: flex;
  text-align: center;
  background: #EEEFF1; }
  .technology .descrip {
    text-align: center;
    color: #000000;
    font-size: 45px; }
  .technology .text-after-descrip {
    color: #727272;
    padding-top: 50px;
    font-size: 16px;
    line-height: 26px; }

.buttom-write {
  background: #34547A;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  margin: 60px 0 146px 0; }
  .buttom-write a {
    text-decoration: none;
    color: #FFFFFF; }

.about-me {
  text-align: center; }
  .about-me h2 {
    color: #000000;
    padding: 120px 0 50px;
    font-family: "Roboto", sans-serif; }
  .about-me p {
    color: #727272;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 100px; }

.block-blue {
  background: #34547A;
  color: #FFFFFF;
  padding: 100px 0 100px; }

.project {
  display: flex; }

.number {
  font-weight: 500; }

.b {
  padding-left: 20px; }

.skills h2 {
  padding: 200px 0 30px; }
.skills .name-skills {
  padding: 20px 0 20px; }
.skills .scale {
  background: #C4C4C4;
  max-width: 445px;
  height: 4px; }
.skills .scale-blue {
  background: #34547A;
  height: 4px;
  width: 70%;
  position: absolute; }

.img-skills {
  padding: 100px 0 100px; }

.video {
  text-align: center;
  background: #EEEFF1; }
  .video h2 {
    padding: 100px 0 50px;
    color: #000000;
    font-family: "Roboto", sans-serif; }
  .video p {
    color: #727272;
    font-family: "Roboto", sans-serif; }
  .video iframe {
    max-width: 100%; }

.video-vig {
  margin: 57px 0 100px; }

.pictures {
  margin-top: 10px; }
  .pictures .col-lg-3 {
    padding: 0; }

.hover-blue {
  position: relative; }
  .hover-blue:before {
    position: absolute;
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)); }
  .hover-blue:after {
    display: none;
    content: "";
    background: url(../img/eye.svg);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100px;
    height: 57px;
    position: absolute; }
  .hover-blue:hover:before {
    display: block; }
  .hover-blue:hover:after {
    display: block; }

.img-microsoft {
  margin: 72px 0 100px; }
  .img-microsoft img {
    padding-right: 15px; }

.contact-form {
  background: #EEEFF1;
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .contact-form h2 {
    padding-top: 100px; }
  .contact-form p {
    color: #727272;
    padding-top: 50px; }

.forma {
  padding-top: 65px;
  display: inline-block;
  background-size: cover; }
  .forma input {
    font-family: "Roboto", sans-serif;
    color: #4F4F4F;
    width: 255px;
    height: 50px;
    outline: none;
    background: #FFF;
    border: none;
    padding-left: 20px;
    margin-top: 30px;
    margin-right: 20px; }

.textarea {
  font-family: "Roboto", sans-serif;
  width: 540px;
  height: 150px;
  outline: none;
  background: #fff;
  border: none;
  padding: 20px 0 0 16px;
  margin-top: 30px;
  display: block; }

body {
  font-family: "Roboto", sans-serif; }

p {
  margin-bottom: 0; }

/*# sourceMappingURL=design.css.map */
