
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.navigation {
		display: none;
	}
	.burger{
		display: block;
	}
	.frame-img{
		width: 100%;
	}
	.a{
		padding: 7px;
	}
	.c-hamburger{
		display: block;
	}
	.burger-menu_nav.active{
		display: block;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.frame-img{
		display: none;
	}
	.frame{
		display: none;
	}
	.text-technology{
		text-align: center;
	}
	.about-me{
		text-align: center;
	}
	.a{
		padding: 5px;
	}
	.img-micros{
		width: 100%;
	}
	.forma input{
		width: 100%;
		margin-right: 0;
	}
	.forma .textarea{
		width: 100%;
	}
}

@media (max-width: 576px) { 

}

